body {
  background-color: beige;
}

.player-card {
  border: ;
  border-radius: ;
  padding: ;
  margin: ;
  width: ;
  background-color: ;
  box-shadow: ;
}

h2 {
  margin: ;
  font-size: ;
  color: ;
}

p {
  margin: ;
  font-size: ;
  color: ;
}
